<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegionServlet</servlet-name>
        <servlet-class>servlets.RegionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountryServlet</servlet-name>
        <servlet-class>servlets.CountryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobServlet</servlet-name>
        <servlet-class>servlets.JobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationServlet</servlet-name>
        <servlet-class>servlets.LocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>servlets.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>servlets.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>servlets.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegionServlet</servlet-name>
        <url-pattern>/regionservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountryServlet</servlet-name>
        <url-pattern>/countryservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobServlet</servlet-name>
        <url-pattern>/jobservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationServlet</servlet-name>
        <url-pattern>/locationservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/departmentservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/employeeservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/reportservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginview.jsp</welcome-file>
    </welcome-file-list>
</web-app>
